<div class="top-row px-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorEcommerce</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                <span class="oi fa fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/products">
                <span class="oi fas fa-book-open" aria-hidden="true"></span> Product
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/categories">
                <span class="oi fas fa-layer-group" aria-hidden="true"></span> Category
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi fas fa-user-friends" aria-hidden="true"></span> User
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
