.show-menu[b-l31arl77u2] {
    display: block;
}

.user-button[b-l31arl77u2] {
    margin-left: .5em;
}

.top-row a[b-l31arl77u2] {
    margin-left: 0;
}

.dropdown-item:hover[b-l31arl77u2] {
    background-color: white;
}
