@*@page "/orders"*@
@inject IOrderService OrderService
@layout ShopLayout

@if (orders == null)
{
    <span>Loading your orders...</span>
}
else if (orders.Count <= 0)
{
    <span>You have no orders, yet.</span>
}
else
{
    <div class="myaccount-table table-responsive text-center">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="pro-thumbnail">Image</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in orders)
                {
                    <tr>
                        <td class="pro-thumbnail">
                            <img src="@order.ProductImageUrl" class="image" />
                        </td>
                        <td>@order.Product</td>
                        <td>@order.OrderDate</td>
                        <td>$@order.TotalPrice</td>
                        <td><a href="/orders/@order.Id" class="btn">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}


@code {
    List<OrderOverviewResponse> orders = null;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}
