@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="8"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-check"
                WarningIcon="fa fa-exclamation"/>

<div class="page">
    <main>
        <div class="">
            <ShopNavMenu />
        </div>

        <article class="">
            @Body
        </article>
        <Footer></Footer>
    </main>
</div>

