@inject ICategoryService CategoryService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable


<div class="site-header header-3  d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="header-top-list">
                    <li>
                        <a href="javascript:void(0)"><i class="icons-left fas fa-random"></i>My Compare</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="icons-left fas fa-phone"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 flex-lg-right">
                <ul class="header-top-list">
                    <li class="dropdown-trigger language-dropdown">
                        <a href="javascript:void(0)">
                            <i class="icons-left fas fa-heart"></i>
                            wishlist (0)
                        </a>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="dropdown-trigger language-dropdown">
                                <a href="/profile">
                                    <i class="icons-left fas fa-user"></i>
                                    My Account
                                </a>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <li>
                        <a href="/checkout"><i class="icons-left fas fa-share"></i> Checkout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-middle pt--10 pb--10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <HomeButton />
                </div>
                <div class="col-lg-5">
                    <Search />
                </div>
                <div class="col-lg-4">
                    <div class="main-navigation flex-lg-right">
                        <div class="cart-widget">
                            <div class="login-block">
                                <AuthorizeView>
                                    <Authorized>
                                        <a class="font-weight-bold"><i class="fas fa-sign-out-alt"></i><UserButton /> </a>
                                    </Authorized>
                                    <NotAuthorized>
                                        <a href="/login" class="font-weight-bold">Login</a> <br>
                                        <span>or</span><a href="/register">Register</a>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </div>
                            <div class="cart-block">
                                <CartCounter />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <nav class="category-nav   ">
                        <div>
                            <a href="javascript:void(0)" class="category-trigger">
                                <i class="fa fa-bars"></i>Browse
                                categories
                            </a>
                            <ul class="category-menu">
                                @foreach (var category in CategoryService.Categories)
                                {
                                    <li class="cat-item"><a href="@category.Url">@category.Name</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header-phone ">
                        <div class="icon">
                            <i class="fas fa-headphones-alt"></i>
                        </div>
                        <div class="text">
                            <p>Free Support 24/7</p>
                            <p class="font-weight-bold number">+01-202-555-0181</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-navigation flex-lg-right">
                        <ul class="main-menu menu-right li-last-0">
                            <li class="menu-item">
                                <NavLink class="nav-link" @onclick="GoToHome" Match="NavLinkMatch.All">
                                    home
                                </NavLink>
                            </li>
                            <!-- Shop -->
                            <li class="menu-item">
                                <NavLink class="nav-link" href="/shop">
                                    shop
                                </NavLink>
                            </li>
                            <!-- Blog -->
                            <li class="menu-item">
                                <a href="/blog">
                                    Blog
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/faq">
                                    Faq 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
        <div class="container">
            <div class="row align-items-sm-end align-items-center">
                <div class="col-md-4 col-7">
                    <HomeButton />
                </div>
                <div class="col-md-5 order-3 order-md-2">
                    <nav class="category-nav   ">
                        <div>
                            <a href="javascript:void(0)" class="category-trigger">
                                <i class="fa fa-bars"></i>Browse
                                categories
                            </a>
                            <ul class="category-menu">
                                @foreach (var category in CategoryService.Categories)
                                {
                                    <li class="cat-item"><a href="@category.Url">@category.Name</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 col-5  order-md-3 text-right">
                    <div class="mobile-header-btns header-top-widget">
                        <ul class="header-links">
                            <li class="sin-link">
                                <a href="/cart" class="cart-link link-icon"><i class="ion-bag"></i></a>
                            </li>
                            <li class="sin-link">
                                <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper">
        <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
        </div>
        <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box offcanvas">
                <form>
                    <Search />
                </form>
            </div>
            <!-- search box end -->
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav class="off-canvas-nav">
                    <ul class="mobile-menu main-mobile-menu">
                        <li>
                            <a href="" @onclick="GoToHome">Home</a>
                        </li>
                        <li>
                            <a href="/shop">Shop</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/faq">Faq</a>
                           
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
            <nav class="off-canvas-nav">
                <ul class="mobile-menu menu-block-2">
                    <li>
                        <a href="#">Wishlist (0)</a>

                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="menu-item-has-children">
                                <a href="#">My Account <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a><UserButton /></a></li>
                                </ul>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="menu-item-has-children">
                                <a href="/login">Login</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/register">Register</a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>

                </ul>
            </nav>
            <div class="off-canvas-bottom">
                <div class="contact-list mb--10">
                    <a href="javascript:void(0)" class="sin-contact"><i class="fas fa-mobile-alt"></i>(12345) 78790220</a>
                    <a href="javascript:void(0)" class="sin-contact"><i class="fas fa-envelope"></i>examle@handart.com</a>
                </div>
                <div class="off-canvas-social">
                    <a href="javascript:void(0)" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0)" class="single-icon"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0)" class="single-icon"><i class="fas fa-rss"></i></a>
                    <a href="javascript:void(0)" class="single-icon"><i class="fab fa-youtube"></i></a>
                    <a href="javascript:void(0)" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                    <a href="javascript:void(0)" class="single-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </aside>
    <!--Off Canvas Navigation End-->
</div>

<div class="sticky-init fixed-header common-sticky">
    <div class="container d-none d-lg-block">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <HomeButton />
            </div>
            <div class="col-lg-8">
                <div class="main-navigation flex-lg-right">
                    <ul class="main-menu menu-right ">
                        <li class="menu-item">
                            <NavLink class="nav-link" href="" @onclick="GoToHome" Match="NavLinkMatch.All">
                                Home
                            </NavLink>
                        </li>
                        <!-- Shop -->
                        <li class="menu-item">
                            <a href="/shop">
                                Shop
                            </a>
                        </li>
                        <!-- Blog -->
                        <li class="menu-item">
                            <a href="/blog">
                                Blog
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/faq">
                                Faq
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
